  <tr class="border-b">
    <td class="py-4"><%= image_tag reservation.room.image, class: "w-24" %></td>
    <td class="py-4"><%= reservation.room.name %></td>
    <td class="py-4"><%= reservation.room.introduction %></td>
    <td class="py-4">¥<%= total_fee(reservation).to_s(:delimited) %></td>
    <td class="py-4"><%= reservation.check_in_date %></td>
    <td class="py-4"><%= reservation.check_out_date %></td>
    <td class="py-4"><%= reservation.created_at %></td>
    <td>
      <details class="dropdown">
        <summary class="btn btn-ghost m-1">
          <div>
            <p id="dropDown" class="transition-colors duration-300 hover:text-blue-500">
              三点リーダー
            </p>
          </div>
        </summary>
        <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <li>            
            <%= link_to "再予約", edit_reservation_path(reservation.id) %>
          </li>
          <li>
            <%= link_to "予約取り消し", reservation_path(reservation.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "text-red-500" %>
          </li>
        </ul>
      </details>
    </td>
    <td></td>
  </tr>
