<div>
  <%= form_with model: @reservation do |f| %>
    <div>
      <%= f.label :check_in_date %>
      <%= f.date_field :check_in_date %>
    </div>
    <div>
      <%= f.label :check_out_date %>
      <%= f.date_field :check_out_date %>
    </div>
    <div>
      <%= f.label :member_count %>
      <%= f.text_field :member_count %>
    </div>
    <%= f.submit "再予約する", class: "btn" %>
    <%= link_to "キャンセル", :back, class: "btn" %>
  <% end %>
</div>