<div class="card bg-green-100 w-96 shadow-sm">
  <figure class="px-10 pt-10">
    <% if room.image.attached? %>
      <%= image_tag room.image, class: "rounded-xl" %>
    <% else %>
      <%= image_tag "room_image.png" %>
    <% end %>
  </figure> 
  <div class="card-body items-center text-center">
    <h2 class="card-title"><%= room.name %></h2>
    <p><%= room.address %></p>
    <p><%= room.introduction %></p>
    <p><%= room.fee %></p>
    <%= link_to "詳細はこちら", room_path(room.id), class: "btn btn-primary" %>
  </div>
</div>