<div class="card bg-base-100 w-96 shadow-sm">
  <%
=begin%>
 <figure class="px-10 pt-10">
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes"
      class="rounded-xl" />
  </figure> 
<%
=end%>
  <div class="card-body items-center text-center">
    <h2 class="card-title"><%= room.name %></h2>
    <p><%= room.address %></p>
    <p><%= room.introduction %></p>
    <p><%= room.fee %></p>
    <%= link_to "詳細はこちら", room_path(room.id), class: "btn btn-primary" %>
  </div>
</div>