<div>
  <p class="text-xl font-bold">施設編集</p>

  <%= form_with model: @room do |f| %>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.label :fee %>
      <%= f.text_field :fee %>
    </div>
    <div>
      <%= f.label :introduction %>
      <%= f.text_area :introduction %>
    </div>
    
    <%= f.submit "更新", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "削除", @room, method: :delete, data: {confirm: "削除しますか" } %>

  <%= link_to "戻る", :back %>
</div>
