<h1>施設詳細</h1>
<div>
  <div>
    <p>名前</p>
    <p><%= @room.name %></p>
  </div>
  <div>
    <p>住所</p>
    <p><%= @room.address %></p>
  </div>
    <p>料金</p>
    <p><%= @room.fee %></p>
  <div>
    <p>説明文</p>
    <p><%= @room.introduction %></p>
  </div>
</div>

<%= link_to "編集", edit_room_path(@room.id) %>
<%= link_to "戻る", rooms_path %>
