<h1>施設詳細</h1>
<div>
  <div>
    <p>名前</p>
    <p><%= @room.name %></p>
  </div>
  <div>
    <p>住所</p>
    <p><%= @room.address %></p>
  </div>
    <p>料金</p>
    <p><%= @room.fee %></p>
  <div>
    <p>説明文</p>
    <p><%= @room.introduction %></p>
  </div>
</div>

<%= link_to "編集", edit_room_path(@room.id) %>
<%= link_to "戻る", 'javascript:history.back()' %>

<div>
  <%= form_with model: @reservation, url: new_reservation_path, method: :get do |f| %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <div>
      <%= f.label :check_in_date %>
      <%= f.date_field :check_in_date %>
    </div>
    <div>
      <%= f.label :check_out_date %>
      <%= f.date_field :check_out_date %>
    </div>
    <div>
      <%= f.label :member_count %>
      <%= f.text_field :member_count %>
    </div>
    <%= f.submit "予約する", class: "btn" %>
  <% end %>
</div>